<form action="/posts" method="post">
  <p>Name: <input type="text" id="name" name="post[name]" placeholder="Enter Post Name"></p>
  <p>Content: <input type="text" id="content" name="post[content]" placeholder="Enter Post Content"></p>
  <input type="submit" id="submit" value="Submit">
</form>
